<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
<form *ngIf="!isLoading" #loginform = "ngForm" (submit)="login(loginform)">
  <mat-form-field appearance="fill">
    <input matInput type="email" name="email" ngModel #emailip="ngModel" placeholder="Email" required >
    <mat-error *ngIf="emailip.invalid">Enter a valid Email</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <input matInput type="password" name="pass" ngModel #passIp="ngModel"   placeholder="Password" required >
    <mat-error *ngIf="passIp.invalid">Enter a valid Password</mat-error>
  </mat-form-field>
<br>
<div style="align-items: center;">
<button mat-button color="accent" style="display: block; margin: auto;"  type="submit">Login</button>
</div>
</form>
</mat-card>
