main{

/* background-image: url(../assets/background.png); */
/* background-image: linear-gradient(to bottom right, white, white,rgb(107, 107, 226)); */
background-size: auto;
justify-content: center;

height: 100%;
width:100%;

}

/*  .container{
background-image: url(../assets/background.png);
background-size: cover;
} */
router-outlet{
  max-height: 100%;
  overflow-y:auto;
}
