<div>
       <br>
       <br>
</div>
<div class="container" style="width: 500px; height: 1000px; margin: auto; margin-top: 100px; text-align: center;">
    <div class="card">
        <div style="background: crimson;">
            <h1 style="color: darkgrey;"> ENTER YOUR NOTE HERE</h1>
        </div>
        <div style="background-color: white"> 
            <table>
                <tr>
                    <td colspan="2">Title</td>
                    <td colspan="2"><input type="text" placeholder="Enter tile here"></td>
                    </tr>
                    <tr>
                    <td colspan="2">Date</td>
                    <td colspan="2"><input type="date" placeholder="Enter date here"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

