

<div class="container-fluid">
  <div style="align-items: center; text-align: center;">
    <img src="../assets/welcome.gif" width="600px" height="300px">
   </div>

  <div style="align-items: center; text-align: center;">

          <h1 style="align-items: center; text-align: center; font-size:5vw; color: rgb(23, 13, 66);"> <b>Your Note : Security on us</b> </h1>
  </div>

<div style="align-items: center; text-align: center; display: flex; justify-content: center;">
<mat-card class="card">
  <mat-card-content style="align-items: center; text-align: center;" >
  Note it provides you the best Security for saving your notes. Create your account and save your notes. You can also add images and date and also search for your notes. We keep all your notes handy,<br> Just one click
</mat-card-content>
</mat-card>
</div>
</div>


